.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em;
}

.category-buttons {
    display: flex;
    justify-content: center; 
    margin: 20px auto; 
    flex-wrap: wrap;
}

.category-btn {
    background-color: #fa2d2d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

header {
    background-color: #fa2d2d;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logo-image{
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

nav {
    flex-grow: 1;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
}

.menu-item {
    display: flex;
    align-items: center; 
}

.menu-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-details {
    flex-grow: 1;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-description {
    line-height: 1.6;
}

footer {
    background-color: #fa2d2d;
    color: white;
    padding: 10px 20px;
    text-align: center;
}


h1, p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
    .menu-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1.5em;
        align-items: center;
    }
    .menu-item-image {
        width: 125px;
        height: 125px;
    }
}
